body {
  margin: 0;
  padding: 0; }

#bg-img {
  background: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover; }

.box {
  width: 60vh;
  margin: 10vh auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 6vh;
  text-align: center;
  color: #fff;
  font-family: "Century Gothic", sans-serif;
  box-shadow: 60px -16px rgba(0, 128, 128, 0.4); }
  .box h1 {
    font-size: 6vh;
    letter-spacing: 4px;
    font-weight: 100; }
  .box h5 {
    font-size: 3vh;
    letter-spacing: 3px;
    font-weight: 100; }
  .box p {
    text-align: justify;
    font-size: 2vh; }
  .box ul {
    margin: 0;
    padding: 0; }
  .box li {
    display: inline-block;
    margin: 6px;
    list-style: none; }
    .box li a {
      color: #fff;
      text-decoration: none;
      font-size: 9vh;
      transition: all ease-in-out 250ms; }
      .box li a:hover {
        color: teal; }

.box-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px #fff solid; }
